<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name='description' content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Google AdSense -->
  <script data-ad-client="ca-pub-9569761739736752" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Google Search Console -->
  <meta name="google-site-verification" content="-zy0Gy8ygP3AvVffHtAUyrsogcXXq_tQUEXLLIUkGr4" />
  <!-- Naver Search Advisor -->
  <meta name="naver-site-verification" content="be283823476998535b5964006964d5940aafac49" />

  {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
  {% endif %}
  {% if page.author %}
    {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
  {% endif %}

  <!-- open graph -->
  {% include open-graph.html %}

  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <style>
    {% capture inlineCSS %}
      {% include app.scss %}
    {% endcapture %}

    {{ inlineCSS | scssify }}
  </style>
</head>