<div class='o-grid__col o-note-grid__col'>
  <div class='c-note-card'>
    <span class='c-note-card__date c-post-card__date'>{{ note.url | date: '%Y-%m-%d' }}</span>
    <h4 class='c-note-card__title'>{{ note.title }}</h4>
    <div class='c-post-content u-font-medium'>
      {{ note.content }}
    </div>
  </div>
</div>