<div class='o-grid__col o-grid__poetry'
  <a href='{{ poetry.url | prepend: site.baseurl }}' class='c-poetry-card {% if forloop.first == true %} c-poetry-card--first {% endif %} {% if forloop.last == true %} c-poetry-card--last {% endif %}'>
    <h3 class='c-poetry-card__title'>{{ poetry.title }}</h3>

    <p class='c-poetry-card__excerpt u-font-medium'>
      {{ poetry.content | strip_html | truncatewords:22 }}
    </p>
  </a>

</div>