<!DOCTYPE html>
<html lang='ko'>
    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- webfont -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

{% include head.html %}

<body>

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </div>


  <span itemscope="" itemtype="http://schema.org/Organization">
    <link itemprop="url" href="https://seochanh.github.io/">
    <a itemprop="sameAs" href="https://www.instagram.com/chchchanh/"></a>
    <a itemprop="sameAs" href="https://github.com/seochanh"></a>
  </span>


  <script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">              </script>
  <script src="{{ '/js/custom.js' | prepend: site.baseurl }}">           </script>
</body>

</html>
